@font-face {
  font-family: GothamBold;
  src: url("../fonts/Gotham/GothamHTF-Bold.otf") format("opentype");
}

@font-face {
  font-family: Gotham;
  src: url("../fonts/Gotham/GothamHTF-Black.otf") format("opentype");
}

@font-face {
  font-family: GothamThin;
  src: url("../fonts/Gotham/GothamHTF-Thin.otf") format("opentype");
}

@font-face {
  font-family: GothamLight;
  src: url("../fonts/Gotham/GothamHTF-Light.otf") format("opentype");
}


html,
body {
  font-family: 'GothamLight', sans-serif;
  height: 100%;
  min-height: 100%;
  border: 0px;
  margin: 0px;
}

#home-external-nav {
  color: #aaa;
  font-size: 1.5em;
}

#home-external-nav a {
  color: #aaa;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

#home-external-nav a:active {
  color: #aaa;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

#home-external-nav a:visited {
  color: #aaa;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

#home-external-nav a:hover {
  color: #333;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

#home-external-nav i {
  margin: 0;
  height: 15px;
}

/* BODY */
#p1 {
  display: block;
  margin: 0 auto;
  text-align: center;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 320px;
}

#p1 h1 {
  margin: 0;
  font-size: 70px;
  font-family: 'GothamLight', sans-serif;
}

#article-name {
  font-family: 'GothamBold', sans-serif;
  height: 100px;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  color: white;
  font-size: 110px;
}

#article-triangles {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

#article-triangles-img {
  width: 600px;
  height: auto;
  opacity: 0.2;
  margin-top: -105px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#p2 {
  color: black;
  background-color: white;
  min-height: 6400px;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  /*for a shadow separating sections*/
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  /*box-shadow: 0 0 50px rgba(0,0,0,0.8);*/
}

#p2_head1 {
  position: relative;
  font-family: 'GothamLight', sans-serif;
  color: black;
  text-align: center;
  top: 60px;
  font-size: 15px;
}

#p2_head2 {
  position: relative;
  font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
  color: black;
  text-align: center;
  top: 115px;
  font-size: 20px;
  opacity: 0;
}

#p2_head3 {
  position: relative;
  font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
  color: black;
  text-align: center;
  top: 135px;
  font-size: 20px;
  opacity: 0;
}

.box {
  height: 20%;
  width: 10%;
  background-color: #000;
  position: relative;
}

#b1 {
  top: 20%;
  left: 20%;
}

#b2 {
  top: 40%;
  left: 40%;
}

#b3 {
  top: 60%;
  left: 60%;
}

.grid {
  left: 50%;
  margin-left: -500px;
  position: absolute;
  top: 150px;
  width: 1000px;
  height: auto;
  display: table-cell;
  margin-top: 250px;
}

.row {
  display: inline-table;
  width: 100%;
  height: 400px;
  margin-top: 0px;
  opacity: 0;
}

.column {
  margin: 0px;
  padding: 0px;
  font-family: 'GothamBold', sans-serif;
  width: 33%;
  height: 350px;
  display: inline-block;
  text-align: center;
  font-size: 100px;
  position: relative;
  font-family: 'GothamLight', sans-serif;
  font-size: 20px;
}

#img-pebble1 {
  position: relative;
  width: 150px;
  height: auto;
  line-height: 350px;
  vertical-align: middle;
  margin-top: -20px;
}

#img-philips-shield {
  position: relative;
  width: 300px;
  height: auto;
  line-height: 350px;
  vertical-align: middle;
  margin-top: -20px;
}

#img-pebble2 {
  position: relative;
  width: 150px;
  height: auto;
  line-height: 350px;
  vertical-align: middle;
  margin-top: -20px;
}

#logo-pebble {
  position: relative;
  width: 250px;
  height: auto;
  line-height: 350px;
  vertical-align: middle;
  margin-top: -20px;
  margin-right: -10px;
}

#logo-biomim {
  position: relative;
  width: 330px;
  height: auto;
  line-height: 350px;
  vertical-align: middle;
  margin-top: -20px;
  margin-right: -10px;
}

#img-mc {
  position: relative;
  width: 150px;
  height: auto;
  line-height: 350px;
  vertical-align: middle;
  margin-top: -20px;
  margin-left: 5px;
}

#logo-sln {
  position: relative;
  width: 260px;
  height: auto;
  line-height: 350px;
  vertical-align: middle;
  margin-top: -20px;
  margin-right: -40px;
}

#img-sln {
  position: relative;
  width: 150px;
  height: auto;
  line-height: 350px;
  vertical-align: middle;
  margin-top: -20px;
  margin-left: 5px;
}

#logo-mgnr {
  position: relative;
  width: 230px;
  height: auto;
  line-height: 350px;
  vertical-align: middle;
  margin-top: -20px;
  margin-right: -40px;
}

#img-mgnr {
  position: relative;
  width: 150px;
  height: auto;
  line-height: 350px;
  vertical-align: middle;
  margin-top: -20px;
  margin-left: 5px;
}

#logo-philips {
  position: relative;
  width: 230px;
  height: auto;
  line-height: 350px;
  vertical-align: middle;
  margin-top: -20px;
  margin-right: -10px;
}

#amazon_logo {
  position: relative;
  width: 240px;
  height: auto;
  line-height: 350px;
  vertical-align: middle;
  margin-top: 0px;
}

#amazon_img1 {
  position: relative;
  width: 230px;
  height: auto;
  line-height: 350px;
  vertical-align: middle;
  margin-top: -20px;
}

.text {
  line-height: 20px;
}

.text2 {
  font-size: 32px;
}

#mit_logo {
  width: 250px;
  line-height: 350px;
  position: relative;
  vertical-align: middle;
  height: auto;
}

#img-csail {
  position: relative;
  width: 250px;
  height: auto;
  line-height: 350px;
  vertical-align: middle;
  margin-top: -40px;
}

.footer {
  bottom: 0px;
  position: absolute;
  height: 150px;
  width: 100%;
}

#footer-image {
  position: absolute;
  top: 0;
  width: 100px;
  height: auto;
  left: 50%;
  margin-left: -50px;
  margin-top: -60px;
}

#footer-text-container {
  position: absolute;
  margin: 0px;
  padding: 0px;
  height: 100px;
  width: 500px;
  left: 50%;
  margin-left: -210px;
  margin-top: 25px;
  display: table-cell;
  table-layout: fixed;
}

.footer-text {
  margin: 0px;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 150px;
  font-family: 'GothamLight', sans-serif;
  text-align: center;
  display: inline-block;
  line-height: 100px;
}

.footer-text a {
  color: black;
  text-decoration: none;
}

.footer-text a:hover {
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}